:root { /* CSS Vars */
  --primaryColor: rgba(13, 110, 139, 0.75);
  --overlayColor: rgba(24, 39, 51, 0.85);
  --menuSpeed: 0.75s;
}

* { /* Reset Styling */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem; /* Centers the content a little bit */
}

.showcase {
  background-color: var(--primaryColor);
  color: white;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* if we had a background image: add z-index = -1 */
}

.showcase__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* since .showcase doesn't have a height for the :before, we set it to 100% here */
}




/* Menu CSS */
.menu__wrap { /* Purpose: position the menu to the top of the page no matter what */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.toggle__class {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 50px;
  width: 50px;
  opacity: 0;
  cursor: pointer;
}

.hamburger { /* this will be the square that the hamburger icon will be inside of */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line CSS */
.hamburger > div { /* get the empty div inside the hamburger class  || this is the middle line*/
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger > div:before,
.hamburger > div:after { /* the two other lines left */
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

.hamburger > div:after { /* this is -10px beforehand, we just push it down now */
  top: 10px;
}

.toggle__class:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* X animation */
.toggle__class:checked + .hamburger > div:before,
.toggle__class:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate hover when checked */
.toggle__class:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu > div {
  background-color: var(--overlayColor);
  border-radius: 50%; /* For circle effect later */
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.list__item {
  list-style: none;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
}

.list__item > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Show Menu */
.toggle__class:checked ~ .menu {
  visibility: visible;
}

.toggle__class:checked ~ .menu > div { /* The first inner div has the scale style */
  transform: scale(1);
  transition-duration: var(--menuSpeed);
}

.toggle__class:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}